.header {
  position: fixed;
  width: 100%;
}

.header-item-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  color: var(--fg-color);
  font-size: var(--font-size);
}

.header > .header-item-container:hover ~ .separator-big {
  box-shadow: 0 0 10px 0px var(--fg-color-sec);
}

.header-item {
  flex: 1 1 0;
  text-align: center;
  padding: var(--spacing-sm);
  user-select: none;
  cursor: pointer;
  z-index: 1;

  transition:
    box-shadow 100ms ease-in-out,
    text-shadow 100ms ease-in-out,
    background-color 100ms ease-in-out;
}

.header-item:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.33);
  text-shadow: 0 0 15px var(--fg-color-sec);
  background-color: var(--bg-color-sec);
}

.header-item-separator {
  width: 3px;
  flex: 0 0 auto;
  background-color: var(--fg-color-mid);
}
