* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #282c34;
  --bg-color-sec: #353a44;
  --fg-color: white;
  --fg-color-sec: #b1c1e1;
  --fg-color-mid: #525969;

  --font-size-sm: 1.25rem;
  --font-size: 1.5rem;
  --font-size-big: 1.75rem;

  --spacing: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--bg-color);
}

.header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  color: var(--fg-color);
  font-size: var(--font-size);
  border-bottom: 5px solid var(--fg-color-sec);
}

.header > div {
  flex: 1 1 0;
  text-align: center;
  border-left: 1px solid var(--fg-color-mid);
  border-right: 1px solid var(--fg-color-mid);
}

.header > div:first-child {
  border-left: 2px solid var(--fg-color-mid);
}

.header > div:last-child {
  border-right: 2px solid var(--fg-color-mid);
}

.app {
  background-color: var(--bg-color-sec);
  flex: 1 1;
  font-size: var(--font-size);
  color: var(--fg-color);
  width: calc(1250px - var(--spacing) * 2);
  margin: var(--spacing) auto;
  border-radius: 1rem;
  padding: var(--spacing);
}

h2 {
  text-align: center;
}

.footer {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: var(--font-size-sm);
  border-top: 5px solid var(--fg-color-sec);
}

@media (max-width: 1500px) {
  .app {
    width: calc(1000px - var(--spacing) * 3);
  }
}

@media (max-width: 1000px) {
  :root {
    --spacing: 0.5rem;
  }

  .app {
    width: calc(100% - var(--spacing) * 2);
    border-radius: 0;
    margin: 0 auto;
  }
}
