* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #282c34;
  --bg-color-sec: #353a44;
  --bg-color-third: #1e2127;
  --fg-color: white;
  --fg-color-sec: #b1c1e1;
  --fg-color-mid: #525969;

  --font-size-sm: 1.25rem;
  --font-size: 1.5rem;
  --font-size-big: 1.75rem;

  --spacing: 1rem;
  --spacing-sm: 0.5rem;
  --top-body-spacing: var(--spacing);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--bg-color-third);
}

.separator-big {
  height: 5px;
  background-color: var(--fg-color-sec);
  transition: box-shadow 100ms ease-in-out;
}

.media-size-normal {
  display: inline;
}

.media-size-small {
  display: none;
}

h2 {
  text-align: center;
}

a, a:visited {
  color: #59a4ff;
  transition: color 100ms ease-in-out;
}

a:hover {
  color: #3e70ae;
}

@media (max-width: 1050px) {
  :root {
    --spacing: 0.5rem;
    --top-body-spacing: 0px;
  }

  .media-size-normal {
    display: none;
  }

  .media-size-small {
    display: inline;
  }
}
